<div id="main-container1">
  <div id="main-container">
    <div id="search-box-container">
      <input
        id="searchQuery"
        type="text"
        placeholder="Search for a video..."
        [(ngModel)]="searchQuery"
      />
    </div>
    <div id="search-button-container">
      <button id="search-BTN" (click)="searchButtonPressed(searchQuery)">
        Get Videos
      </button>
    </div>
  </div>

  <div id="video-list-container" *ngIf="this.displayVideoList">
    <app-listing [videoList]="videosFromApi"></app-listing>
  </div>
</div>
